---
apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImageUpdateAutomation
metadata:
    name: minatto
    namespace: "minatto-1-preview"
spec:
    git:
        checkout:
            ref:
                branch: master
        commit:
            author:
                email: fluxcdbot@users.noreply.github.com
                name: fluxcdbot
            
            messageTemplate: '{{range .Changed.Changes}}{{print .OldValue}} -> {{println .NewValue}}{{end}}'
            
        push:
            branch: master
    interval: 1m0s
    sourceRef:
        kind: GitRepository
        name: flux-system
        namespace: flux-system
    update:
        path: "./application/brennoflavio/minatto-pr-preview/1-preview"
        strategy: Setters
